body{
    text-align: center;
    background-color: aquamarine;
}

#button{
    background-color: bisque;
}
h4{
    text-align: right;
    font-family: 'Brush Script MT' ,sans-serif;
    font-size: 50px;
    color:black;
}